html {
    font-size: 10px;
   
}

body {
    width: 1020px;
    margin:0 auto;    
    font-size: 1.6rem;
    font-family: 'Lato',  Verdana, sans-serif;
    color: #767e9e;    
    text-align: left;
}

.portfolio {
    background-color: #2D303A;
}

.portfolio__position {
    padding: 60px 30px 59px;
}

.portfolio__title, .about-us__title{
font-size: 3rem;
line-height: 1.8rem;
color: #666d89;
font-weight: 900;
padding: 10px;
margin: 0;
letter-spacing: -0.008rem;
}

.just-text {
font-size: 1.8rem;
line-height: 3rem;
color: #767e9e;
font-weight: 300;
padding: 10px;
margin: 7px 0 0px 0;
text-align: justify;
}

.wrapper__tag {
    padding: 0px 12px;
}

.tag {
    font-family: 'Lato';
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #767e9e;
    font-weight: 400;
    height: 22px;
    border-radius: 4px;
    background-color: #2D303A;
    border: 1px solid #666d89;
    margin: 0 7px 10px 0;
    letter-spacing: -0.005rem;
}

.tag:active {
    color: #fff;
}


.tag-All {
    color: #dedede;
    border: 1px solid #c5c5c5;
    padding: 1px 6px;
}

.tag-Web, .tag-Graphic {
 padding: 1px 6px ;
}

.tag-Artwork {
    padding: 1px 7px;
    letter-spacing: 0.005rem;
}

.images-basket{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 960px;
    height: 620px;
}

.images-basket__img {
    min-width: 220px;
    min-height: 187px;
    padding: 10px;
}

.portfolio__line {
    height: 6px;
    background-color: #323746;
}

.about-us {
    background-color: #f2f2f2;
}

.about-us__position {
        padding: 57px 30px 50px;
}


.layout-3-column {
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 33.33%;
}

.about-us__mini-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #666d89;
    font-weight: 900;
    margin: 0;
    padding: 5px 9px;
    height: 14px;
    overflow: hidden;
}

.small-text {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #767e9e;
    font-weight: 400;
    padding: 7px 10px 4px;
    margin: 0;
    text-align: justify;
    font-weight: normal;

}

.wide {
    letter-spacing: -0.007rem;    
}
.about-us__line {
    height: 6px;
    background-color: #ffffff;
}

.about-us__img {
    width: 300px;
    height: 300px;
    padding: 10px;
}
.contacts {
    display: flex;
    color: #666d89;
    padding: 7px;
}

.media {
    width: 14px;
    height: 14px;
    color: #656D89;
}

.contacts>a  {
       border: 1px solid #666d89;
       border-radius: 50%;
       padding: 5px 8px;
    margin: 12px 4px;
}

.contacts>a:hover {
    background-color: rgb(220, 221, 228);
}