* {
    box-sizing: border-box;
}
body {
    width: 1020px;
    margin: 0 auto;
        font-family: Lato-Bold,
        AdobeInvisFont,
        MyriadPro-Regular;
}

.header{
    background-color: #2D303A;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    color: #fff;
    padding: 34px 0 35px 40px;
    
}

.star__logo{
    color: #D1625D;
}

.nav{
    font-size: 12px;
    color: #fff;
    padding: 45px 40px 35px 0;
}

.a__nav{
    text-decoration: none;
    color: #fff;
}

.slider{
    background-color: #D1625D;
    display: flex;
    height: 600px;
}


.left-blok__slider{
    width: 100px;
    text-align: center;
    padding-top: 287px;
}

.witch__slider{
    width: 16px;
    height: 27px;

}

.center-left-blok__slider{
    width: 240px;
    padding: 59px 0 0 12px;
}

.Red-Dot1{
    padding: 1px;
    border-radius: 50%;
    background-color: #D8D8D8;
    margin: 16px 0 0 105px;
}

.Speaker1{
    padding: 5px 0 0 90px;
}

.Layer1{
    margin: 17px 0 0 14px;
    border: 3px solid #D8D8D8;
}

.Square1{
    padding: 13px;
    border-radius: 50%;
    background-color: #FAFAFA;
    margin: 3px 0 0 87px;

}

.center-right-blok__slider{
    width: 458px;
    padding: 180px 0 0 73px;
}

.Square2{
    padding: 13px;
    border-radius: 50%;
    background-color: #FAFAFA;
    margin: 87px 0 0 3px;
}

.Layer2 {
    margin: 14px 0 0 3px;
    border: 3px solid #D8D8D8;
}

.Speaker2 {
    padding: 90px 0 0 17px;
}

.Red-Dot2 {
    padding: 1px;
    border-radius: 50%;
    background-color: #D8D8D8;
    margin: 105px 0 0 5px;
}


.right-blok__slider {
    width: 96px;
    padding: 287px 0 0 146px;
}

.wrapper__phone{
    display: flex;
}

.phone{
        position: absolute;
        box-shadow: 25px 25px 0 rgba(50, 50, 50, 0.3);
}

.element__slider{
    position: relative;
}

.services{
    margin: 20px;

}

.title__services {
    color: rgba(102, 109, 137, 255);
    padding: 15px 0 0 20px;
}

.item__services {
    font-size: 24px;
    color: rgba(118, 126, 158, 255);
    padding: 0 20px 50px 20px;
}

.table__services {
    display: flex;
}

.cell__table{
    display: flex;
    width: 340px;
    height: 130px;
}

.icon__services {
    padding: 9px;
    border: 2px solid #737A93;
    border-radius: 50%;
    margin: 20px;
}

.title-cell__table{
        color: rgba(102, 109, 137, 255);
        padding: 15px 0 0 40px;
}

h3 {
    margin: 0px;
}

.item-cell__table{
    font-size: 16px;
    color: rgba(118, 126, 158, 255);
    padding: 0;

}