html {
    font-size: 10px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 1020px;
    margin: 0 auto;
    font-size: 1.8rem;
    font-family: 'Lato',
        Verdana,
        sans-serif;
    color: #767e9e;
    line-height: 3.0rem;
    font-weight: 300;
    text-align: justify;
}

.header {
    position: fixed;
    z-index: 10;
    width: 1020px;
    font-weight: bold;
    background-color: #2D303A;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    border-bottom: 6px solid #323746;
}

.header__position {
    padding: 30px 40px 24.5px;
}

.logo {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.00004px;
}

.logo__star {
    color: #D1625D;
}

.nav {
    font-size: 12px;
    text-transform: uppercase;
}

.nav__position {
    margin-top: 5px;
}

.nav__pointes {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    letter-spacing: -0.06px;
}

.nav__pointes:last-child {
    padding-right: 0;
}

.nav__pointes.active {
    color: #f06c64;
}

.nav__pointes:hover {
    color: #e7a6a3;
    border: 1px solid #e7a6a3;
}

.slider {
    scroll-margin-top: 95px;
}

.empty {
    height: 95px;
}

.slider-wrapper {
    padding: 50px 40px;
    display: flex;
    background-color: #f06c64;
    height: 600px;
    border-bottom: 6px solid #ea676b;
}

.blue {
    background-color: #648BF0;
    border-bottom: 6px solid rgb(117, 148, 228);
}

.slider__arrow {
    padding: 231px 2px;
    cursor: pointer;
}

.slider__arrow-left {
    min-width: 20px;
}

.slide {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
}

.slide.active {
    display: flex;
}
.slide.active.blok {
    display: block;
}
.slide.next {
    display: flex;
}

.slide.next.blok {
    display: block;
}

.next {
    position: absolute;
    top: 146px;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 17%;
    }

    to {
        left: -167%;
    }
}

@keyframes right {
    from {
        left: 133%;
    }

    to {
        left: 17%;
    }
}


.vertical-phone {
    padding: 3px 52px;
}

.vertical-phone__cam {
    content: "";
    width: 10px;
    height: 10px;
    background: #eb5055;
    border: 3px solid #d8d8d8;
    border-radius: 50%;
    position: absolute;
    margin: 16px 102px;
    z-index: 2;
}

.vertical-phone__speaker {
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: #acacac;
    position: absolute;
    margin: 36px 90px;
    z-index: 2;
}

.vertical-phone__display-container {
    width: 194px;
    height: 339px;
    overflow: hidden;
    position: absolute;
    margin: 63px 11px;
    border: 3px solid #c5c5c5;
    background: black;
    z-index: 2;
}

.vertical-phone__base {
    position: absolute;
    width: 215px;
    height: 458px;
    border-radius: 27px;
    background-color: #f2f2f2;
    z-index: 1;
}

.vertical-phone__display {
    margin: -136px -14px;
}

.vertical-phone__button {
    content: "";
    position: absolute;
    margin: 421px 99px;
    width: 16px;
    height: 16px;
    border: 1.5px solid #bababa;
    border-radius: 25%;
    z-index: 3;
}

.vertical-phone__button-border {
    content: "";
    width: 42px;
    height: 42px;
    border: 1px solid #fafafa;
    border-radius: 50%;
    background-color: #fafafa;
    position: absolute;
    margin: 408px 86px;
    z-index: 2;
}

.horizontal-phone {
    padding: 124px 22px;
}

.horizontal-phone__cam {
    content: "";
    width: 10px;
    height: 10px;
    background: #eb5055;
    border: 3px solid #d8d8d8;
    border-radius: 50%;
    position: absolute;
    margin: 103px 430px;
    z-index: 2;
}

.horizontal-phone__speaker {
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: #acacac;
    position: absolute;
    margin: 105px 401px;
    transform: rotate(-90deg);
    z-index: 2;
}

.horizontal-phone__display-container {
    width: 339px;
    height: 194px;
    overflow: hidden;
    position: absolute;
    margin: 12px 56px;
    border: 3px solid #c5c5c5;
    background: black;
    z-index: 3;
}

.horizontal-phone__base {
    position: absolute;
    width: 215px;
    height: 458px;
    border-radius: 27px;
    background-color: #f2f2f2;
    transform: rotate(-90deg);
    z-index: 2;
    margin: -122px 0 0 120px;
}

.horizontal-phone__display {
    margin: -120px -125px;
}

.horizontal-phone__button {
    content: "";
    position: absolute;
    margin: 99px 20px;
    width: 16px;
    height: 16px;
    border: 1.5px solid #bababa;
    border-radius: 25%;
    z-index: 3;
}

.horizontal-phone__button-border {
    content: "";
    width: 42px;
    height: 42px;
    border: 1px solid #fafafa;
    border-radius: 50%;
    background-color: #fafafa;
    position: absolute;
    margin: 87px 8px;
    z-index: 2;
}

.inner_slid {
    display: none;
}

.inner_color {
    background-color: #648BF0;
    border-bottom: 6px solid rgb(94, 127, 212);
}

.inner_phone1 {
    margin: 0px 0 0 319px;
    position: absolute;
}

.inner_phone2 {
    margin: 92px 0 0 186px;
}

.inner_phone3 {
    margin: 0px 163px 0 202px;
}

.slider__arrow-right {
    transform: rotate(180deg);
    padding: 4px 31px 4px 0;
}

.services {
    scroll-margin-top: 95px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.services__position {
    padding: 40px 40px 27.5px 40px;
}

.title {
    color: #666d89;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.8rem;
    text-align: left;
    letter-spacing: -0.1px;
}

.title__position {
    margin-top: 29px;
}

.text__position {
    padding: 27px 0 49px;
    text-align: justify;
}

.div-table {
    display: flex;
}

.cell {
    display: flex;
    width: 300px;
}

.div-table__column+.div-table__column {
    margin-left: 20px;
}

.icon__pen {
    width: 35px;
    height: 35px;
    margin: 12px 14px;
}

.icon__phone {
    width: 26px;
    height: 36px;
    margin: 11px 19px 12px 18px;
}

.icon__lamp {
    width: 26px;
    height: 34px;
    margin: 11px 20px 10px 17px;
}

.icon__bubble {
    width: 34px;
    height: 30px;
    margin: 15px 15px 12px 13px;
}

.icon__heart {
    width: 34px;
    height: 32px;
    margin: 13px 16px 13px 13px;
}

.icon__star {
    width: 34px;
    height: 33px;
    margin: 12px 16px 12px 13px;
}

.icon__border {
    margin: -2px 0px;
    width: 60px;
    height: 60px;
    position: absolute;
}

.cell__text-content {
    margin-left: 17px;
    width: 300px;
    height: 88px;
    margin-bottom: 34px;
    overflow: hidden;
}

.small-title {
    line-height: 1.4rem;
    color: #666d89;
    font-weight: 900;
    text-align: justify;
    letter-spacing: -0.04px;
}

.small-title__position {
    padding: 0px 0 11px;
}

.small-text-adam {
    letter-spacing: -0.3px;
}

.small-text {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #767e9e;
    font-weight: 400;
}

.small-text__position {
    padding-bottom: 33px;
}

.portfolio {
    scroll-margin-top: 95px;
    background-color: #2d303a;
    padding: 40px 30px 67px 30px;
    border-bottom: 6px solid #323746;
}

.title__position-portfolio {
    margin-left: 10px;
}

.text__position-portfolio {
    padding: 27px 0 5px 10px;
}

button {
    all: unset;
}

.tags-blok__position {
    margin-left: 10px;
}

.tag {
    font-family: 'Lato';
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #767e9e;
    font-weight: 400;
    height: 20px;
    border-radius: 4px;
    background-color: #2D303A;
    border: 1px solid #666d89;
    margin: 0 7px 10px 0;
    letter-spacing: -0.005rem;
    padding: 0px 6px;
}

.tag:active {
    color: #fff;
}

.tag:hover {
    background-color: rgb(220, 221, 228);
}

.tag-Artwork {
    padding: 0px 5px 0 6px;
}

.tag.active {
    color: #dedede;
    border: 1px solid #c5c5c5;
    padding: 0px 7px;
}

.images-basket {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 960px;
    height: 610px;
}

.images-basket__img-wrapper {
    width: 220px;
    height: 187px;
    margin: 10px;
    overflow: hidden;
}

.images-basket__img-wrapper:focus {
    border: 5px solid #F06C64;
}

.images-basket__img-1 {
    margin: -12px -9px;
}

.images-basket__img-2 {
    margin: -44px -83px;
}

.images-basket__img-3 {
    margin: -2px -12px;
}

.images-basket__img-4 {
    margin: -4px -24px;
}

.images-basket__img-5 {
    margin: -16px -10px
}

.images-basket__img-6 {
    margin: -4px -17px;
}

.images-basket__img-7 {
    margin: -40px -31px;
}

.images-basket__img-8 {
    margin: -32px -25px;
}

.images-basket__img-9 {
    margin: -3px -17px
}

.images-basket__img-10 {
    margin: -114px -142px;
}

.images-basket__img-11 {
    margin: -176px -145px;
}

.images-basket__img-12 {
    margin: -61px -37px;
}

.about {
    scroll-margin-top: 95px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about__position {
    padding: 40px 40px 40px 39px;
}

.about>.title {
    margin-left: 1px;
}

.small-title__overflow {
    overflow: hidden;
    height: 16px;
    margin-bottom: 10px;
}

.contacts-adam {
    margin-left: -1px;
}

.text__position-about {
    padding: 27px 0 20px 1px;
}

.three-column {
    padding: 26px 0 0 0;
    display: flex;
    justify-content: space-between;

}

.column {
    width: 300px;
    overflow: hidden;

}

.about__photo-wrapper {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 19px;
}

.column>.small-title {
    margin: 0 0 12px 0px;
}

.contacts {
    display: flex;
    color: #666d89;
    padding: 11px 0 27px 0px;
}

.media-facebook {
    width: 14px;
    height: 14px;
    margin: 12px 6px 12px 3px;
}

.media-google {
    width: 14px;
    height: 14px;
    margin: 10px 10px 10px;
}

.media-twitter {
    width: 14px;
    height: 14px;
    margin: 10px 10px 10px;
}

.media-linkedin {
    width: 14px;
    height: 14px;
    margin: 10px 10px 10px;
}

.media {
    width: 14px;
    height: 14px;
    color: #656D89;
}

.contacts>a {
    border: 1px solid #666d89;
    border-radius: 50%;
    padding: 0px 8px 0px 8px;
    margin: 12px 5px 0px 3px;
}

.contacts-desmond {
    margin-left: -2px;
}

.contacts-scolara {
    margin-left: -4px;
}

.contacts>a:hover {
    background-color: rgb(220, 221, 228);
}

.contact {
    background-color: #f06c64;
    color: #f0d8d9;
}

.contact__position {
    padding: 69px 40px 14.5px 40px;
    border-bottom: 6px solid #ea676b;
}

.text__position-contact {
    padding: 27px 0 45px;
}

.small-title__contact {
    padding: 2px 0 13px;
}

.title__contact,
.small-text__contact,
.small-title__contact {
    color: #f0d8d9;
}

.contact__span {
    letter-spacing: -0.005rem;
}

.two-column {
    display: flex;
}

form {
    all: unset;
    width: 620px;
    margin: 0 21px 0 0;
}

.input {
    width: 619px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border: 0;
    color: #f48c8f;
    margin-bottom: 16px;
}

.textarea {
    width: 619px;
    height: 202px;
    border-radius: 5px;
    background-color: #d6564f;
    resize: none;
    border: 0;
}

.submit {
    border: 2px solid #d45e58;
    border-radius: 50%;
    padding: 1px 15px;
    background-color: #d6564f;
    margin: 10px 0 0 262px;
}

input::placeholder {
    padding: 0 0 0 15px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

textarea::placeholder {
    padding: 5px 0 0 11px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}


.small-title__contact+.small-text__contact {
    padding-bottom: 21px;
}

#message-block {

    position: absolute;
    margin-left: -100px;
    width: 1145px;
    height: 1200px;
    top: 2306px;
    background: #0008;
    z-index: 11;
}

#message-block.hidden {
    display: none;
}

#message {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    text-align: center;
}

footer {
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
}

.small-text__footer {
    margin: 27px 0 0 41px;
}

.contacts__footer {
    margin: 0px 36px 0 0;
}

.a__icon-map::before {
    content: url(assets/icon/ico-location-pin.svg);
    position: absolute;
    margin: 3px 0px 0 -23px;
}

.a__icon-phone::before {
    content: url(assets/icon/ico-phone-contacts.svg);
    position: absolute;
    margin: 2px 0 0 -22px;
}

.a__icon-mail::before {
    content: url(assets/icon/ico-mail.svg);
    position: absolute;
    margin: 5px 0 0 -27px;
}

.a__icon-map {
    position: absolute;
    margin: 1px 0 0 23px;
}

.a__icon-phone {
    position: absolute;
    margin: -7px 0 0 22px;
}

.a__icon-mail {
    position: absolute;
    margin: -15px 0 0 24px;
}

.hidden {
    display: none;
}